
.btn {
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
width: 135px !important;
}
